.slider-section{
    margin: 6rem 0;
}
.slider-container{
    gap: 2rem;
    padding-top: 10rem;
    padding-left: 15rem;
    padding-right: 3rem;
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
}

.slider-container::-webkit-scrollbar{
    display: none;
}

.slider-heading{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 2rem;
}

.slider-heading div{
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: rgb(193, 235, 193);
    border-radius: 2rem;
    margin:0 1rem;
    color: green;
}